@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=GFS+Didot&family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
.containerBox{
    width: 70%;
    
    .title{
        font-family: 'Noto Serif TC', serif;
        // background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8%;
        p{
            margin: 0;
            font-size: 20px;
            letter-spacing: 20px;
            line-height: 50px;
            writing-mode: vertical-rl;
        }
    }
    .content{
        
        margin-top: 8%;
        margin-right: 10%;
        width: 80vw;
        
        // height: 80vh;
        // max-height: 160vh;
        height: 70vh;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-wrap: wrap;
        // background-color: rgb(215, 234, 250);
        p{
            
            font-family: 'Noto Sans TC', sans-serif;
            margin: 0;
            font-size: 16px;
            letter-spacing: 7px;
            line-height: 60px;
            writing-mode: vertical-rl;
            font-weight: 100;
        }
        p:nth-child(1){
            order: 2;
            // background-color: aqua;
        }
        p:nth-child(2){
            order: 1;
        }
    }
}



@media screen  and (max-width: 1200px){
    .containerBox{
        margin-top: 10%;
        .title{
            margin-right: 0%;
            p{
                writing-mode:horizontal-tb;
            }
        }
        .content{
            width: 90vw;
            height: 70vh;
            margin-right: 0%;
            padding: 0;
            
            // background-color: aqua;
            p{
                writing-mode:horizontal-tb;
            }
            p:nth-child(1){
                order: 1;
                // background-color: aqua;
            }
            p:nth-child(2){
                order: 2;
            }
        }
    }

}
@media screen and (max-width: 960px){
    .containerBox{
        .title{
            margin-right: 0%;
        }
        .content{
            width: 100%;
            height: 100vh;
            margin-right: 0%;
            // background-color: rgb(255, 153, 0);
        }
    }
}

@media screen and (max-width: 772px){
    .containerBox{
        .title{
            margin-right: 0%;
        }
        .content{
            width: 100%;
            height: 120vh;
            margin-right: 0%;
            // background-color: rgb(255, 153, 0);
        }
    }
}
@media screen and (max-width: 541px){
    .containerBox{
        .title{
            margin-right: 0%;
        }
        .content{
            width: 100%;
            height: 150vh;
            margin-right: 0%;
            // background-color: rgb(255, 153, 0);
        }
    }
}

